APP_ENV=development
DATABASE_URL=./local.sqlite
CLOUDFLARE_ACCOUNT_ID=a07c9e2b7ed111f24f72007a827cd233
OPENAI_API_KEY=
OPENAI_USAGE_WORKSPACE_NAME=OpenAI Organization
OPENAI_USAGE_WORKSPACE_SLUG=openai-organization
OPENAI_USAGE_ENVIRONMENT=production
OPENAI_USAGE_DAYS_BACK=30
